@namespace MeTube.Client.Pages
@page "/login"
@using MeTube.Client.ViewModels.LoginViewModels
@inject LoginViewModel ViewModel
<link href="css/login_and_signup.css" rel="stylesheet" />


<div class="FormContainer">
    <form>
        <div class="FormText">
            <h1>Login</h1>
            <p>Login to account here</p>
            <hr />
        </div>
        <label for="username">Username</label>
        <input id="username" type="text" @bind="ViewModel.Username" placeholder="Enter your username" />
        <p class="validationerror">@ViewModel.UsernameError</p>

        <label for="password">Password</label>
        <input id="password" type="password" @bind="ViewModel.Password" placeholder="Enter your password" />
        <p class="validationerror">@ViewModel.PasswordError</p>

        <button @onclick="() => ViewModel.LoginButton()" type="button">Login</button>

        <p class="TextWithLink">Dont have an account? <a href="/signup">Signup</a></p>
    </form>
</div>

