@page "/manageaccounts"
@using MeTube_DevOps.Client.ViewModels.ManageUsersViewModels
@using MeTube_DevOps.Client.Models
@using Microsoft.AspNetCore.Components.Authorization
@inject ManageUsersViewModel ViewModel
<link href="css/manage_users_admin.css" rel="stylesheet" />

<h1 id="Front">MANAGE ACCOUNTS</h1>
<div class="SearchContainer">
    <div class="SearchBox">
        <input placeholder="Search users" @bind="ViewModel.Search">
        <button id="saveButton" @onclick="() => ViewModel.SearchButton()" type="button">Search</button>
    </div>

    <div class="AddUserBox">
        <button id="saveButton" @onclick="() => ViewModel.CreateUserAccount()" type="button">+ ADD USER</button>
    </div>
</div>
<div class="user-container">
    <div class="user-row">
        <label>Username</label>
        <label>Email</label>
        <label>Password</label>
        <label for="roles">Role</label>
    </div>
    @foreach (var user in ViewModel.AllUsers)
    {
        <div class="user-row">
            <input type="text" readonly @bind="user.Username" />
            <input type="email" readonly @bind="user.Email" />
            <input type="text" readonly @bind="user.Password" />
            <input type="text" readonly @bind="user.Role" />

            <button id="deleteButton" @onclick="() => ViewModel.EditUserButton(user)">EDIT</button>
        </div>
    }
</div>

@if (ViewModel.SelectedUser != null && ViewModel.ShowUserCard == true)
{
    <div class="ManageUsers">
        <form class="FormContainer">
            <button class="closeCard" @onclick="() => ViewModel.CloseUserCard()">X</button>
            <div class="FormText">
                <h1>User</h1>
            </div>

            <label>Username</label>
            <input @bind="ViewModel.SelectedUser.Username" />

            <label>Email</label>
            <input @bind="ViewModel.SelectedUser.Email" type="email" />

            <label>Password</label>
            <input @bind="ViewModel.SelectedUser.Password" type="text" />
            <label for="roles">Role</label>
            <div class="SelectRole">
                <select id="roles" @bind="ViewModel.SelectedUser.Role">
                    <option selected value="@ViewModel.SelectedUser.Role">@ViewModel.SelectedUser.Role</option>
                    @foreach (var role in ViewModel.Roles.Where(a => a != ViewModel.SelectedUser.Role))
                    {
                        <option value="@role">@role</option>
                    }
                </select>
            </div>

            <div class="ManageUsersButtons">
                <button type="button" @onclick="() => ViewModel.DeleteUserButton(ViewModel.SelectedUser)" id="deleteButton">DELETE USER</button>
                <button type="button" @onclick="() => ViewModel.SaveChangesButton(ViewModel.SelectedUser)" id="saveButton">SAVE CHANGES</button>
            </div>
        </form>
    </div>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadUsers();
    }

    private async Task SaveUser(User user)
    {
        // await ViewModel.SaveUserAsync(user);
    }
}